{% trans_default_domain "content_fields" %}

{% extends "@IbexaCore/content_fields.html.twig" %}

{% block ngenhancedlink_field %}
    {% apply spaceless %}
        {% if not ibexa_field_is_empty( content, field ) and parameters.available %}
            <h1>THIS IS (DEFAULT) TEMPLATE FOR FRONTEND VIEW</h1>
            <div {{ block( 'field_attributes' ) }}>
                {{ render(
                    controller(
                        "ibexa_content::viewAction",
                        {
                            'contentId': field.value.destinationContentId,
                            'viewType': 'text_linked',
                            'layout': false
                        }
                    )
                ) }}
            </div>
        {% endif %}
    {% endapply %}
{% endblock %}
